<%= form_for @compaign, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :mailconfig, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :mailconfig_id, Mailconfig.all, :id, :nameoption %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interval_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :interval_min, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interval_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :interval_max, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :maillist, t("helpers.label.compaign.maillist"), :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag :maillist, :class => 'input-file' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :zhtemplate, t("helpers.label.compaign.zhtemplate"), :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag :zhtemplate, :class => 'input-file' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :entemplate, t("helpers.label.compaign.entemplate"), :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag :entemplate, :class => 'input-file' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                compaigns_path, :class => 'btn' %>
  </div>
<% end %>
